.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}


/* item(number) == className */
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}



.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  /* grid-gap: 10px; */
  /* background-color: #2196f3; */
  /* padding: 10px; */
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named */
